{%- import "macros/performance_table_body.html" as performance_table_body -%}
{%- import "macros/percent_between.html" as percent_between -%}
{%- import "macros/percent_of.html" as percent_of -%}
{%- import "macros/cessna150j/temperature_correction.html" as temperature_correction -%}
{%- import "macros/cessna150j/grass_correction.html" as grass_correction -%}
{%- import "macros/start_landing_flow.html" as start_landing_flow -%}

        <h2>Take Off</h2>
        <p>
            The airport elevation of {{cessna.elevation_ft}}' is 
            {% call percent_between::render(cessna.elevation_ft, cessna.atmosphere_bounds.lower.altitude, cessna.atmosphere_bounds.upper.altitude, cessna.altitude_tween_percentage, "'") %}
            of the way between {{cessna.atmosphere_bounds.lower.altitude}}' and {{cessna.atmosphere_bounds.upper.altitude}}'.
        </p>
        <p>
            The headwind of {{cessna.headwind_kts}} kts is
            {% call percent_between::render(cessna.headwind_kts, 
                cessna.headwinds.lower_value.knots(), 
                cessna.headwinds.upper_value.knots(),
                cessna.headwind_tween_percentage, 
                " kts") 
            %}
            between the lower bound of {{cessna.headwinds.lower_value.knots()}} kts and the upper bound of {{cessna.headwinds.upper_value.knots()}}kts.
        </p>
        <p>
            The relevant distances are then:

            {% if cessna.atmosphere_bounds.lower.altitude == cessna.atmosphere_bounds.upper.altitude && cessna.headwind_kts % 10 == 0 %}
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th colspan="2">{{cessna.atmosphere_bounds.lower.altitude}}' at {{cessna.atmosphere_bounds.lower.temperature}}°F</th>
                    </tr>
                    <tr>
                        <th>Head Wind</th>
                        <th>Ground Run</th>
                        <th>Total to Clear 50' Obs</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    {% call performance_table_body::render_match(
                        "kts",
                        calcs.takeoff_distances) 
                    %}
                </tbody>
            </table>
            
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th colspan="2">{{cessna.atmosphere_bounds.lower.altitude}}' at {{cessna.atmosphere_bounds.lower.temperature}}°F</th>
                            <th colspan="2">{{cessna.elevation_ft}}' at {{cessna.standard_temperature_f}}°F</th>
                            <th colspan="2">{{cessna.atmosphere_bounds.upper.altitude}}' at {{cessna.atmosphere_bounds.upper.temperature}}°F</th>
                        </tr>
                        <tr>
                            <th>Head Wind</th>
                            <th>Ground Run</th>
                            <th>Total to Clear 50' Obs</th>
                            <th>Ground Run</th>
                            <th>Total to Clear 50' Obs</th>
                            <th>Ground Run</th>
                            <th>Total to Clear 50' Obs</th>             
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        {% call performance_table_body::render3x3(
                                " kts",
                                calcs.takeoff_distances,
                                cessna.headwind_tween_percentage,
                                cessna.altitude_tween_percentage) 
                        %}
                    </tbody>
                </table>
            {% endif %}
        </p>

        {% if calcs.correction.standard_temperature_correction_percentage != 0.0 %}
            <h3>Increase distances 10% for each 35°F in temperature above standard for the particular altitude.</h3>
            {% call temperature_correction::render(
                cessna.temperature_f, 
                cessna.standard_temperature_f, 
                cessna.temperature_f_diff_from_standard, 
                35, 
                calcs.correction.standard_temperature_correction_percentage, 
                calcs.takeoff_distances[1].middle_value.ground_run(), 
                calcs.correction.distance_corrected_for_temperature.ground_run(), 
                calcs.takeoff_distances[1].middle_value.clear_50_ft_obstacle(), 
                calcs.correction.distance_corrected_for_temperature.clear_50_ft_obstacle()) 
            %}
        {% endif %}
        {% if is_grass %}
            <h3>For operation on a dry, grass runway increase distances (both "Ground Run" and "Total to Clear 50' Obstacle" by 7% of the "Total to Clear 50' Obstacle") figure.</h3>
            {% call grass_correction::render(
                calcs.correction.distance_corrected_for_temperature.clear_50_ft_obstacle(),
                0.07,
                calcs.correction.grass_offset,
                calcs.correction.distance_corrected_for_temperature.ground_run(),
                calcs.correction.distance_corrected_for_grass.ground_run(),
                calcs.correction.distance_corrected_for_grass.clear_50_ft_obstacle())
            %}
        {% endif %}
        {% if start_landing_flow %}
            {% call start_landing_flow::render("cessna150j") %}
        {% endif %}