{% macro render(clear_50_ft_obstacle, factor, offset, ground_run, ground_run_corrected_for_grass, clear_50_ft_obstacle_corrected_for_grass) %}
<ul>
    <li>
        <math>
            <mn>{{clear_50_ft_obstacle}}'</mn>
            <mo>&times;</mo>
            <mn>{{factor}}</mn>
            <mo>≈</mo>
            <mn>{{offset}}'</mn>
        </math>
    </li>
    <li>
        Ground Run:
        <math>
            <mn>{{ground_run}}'</mn>
            <mo>&plus;</mo>
            <mn>{{offset}}'</mn>
            <mo>&equals;</mo>
            <mn>{{ground_run_corrected_for_grass}}'</mn>
        </math>
    </li>
    <li>
        Total to Clear 50' Obs:
        <math>
            <mn>{{clear_50_ft_obstacle}}'</mn>
            <mo>&plus;</mo>
            <mn>{{offset}}'</mn>
            <mo>&equals;</mo>
            <mn>{{clear_50_ft_obstacle_corrected_for_grass}}'</mn>
        </math>
    </li>
</ul>
{% endmacro %}