* { box-sizing: border-box; }

html, body {padding:0; margin:0;}

iframe {
    width: 100%;
    border: none;
}

table, th, td { border: 1px solid; }

.text-center {text-align: center;}

.form-fields td:first-child {
    text-align: right;
}

.form-fields {
    button, select {width: 100%}
    td:last-child {
        text-align: left;
    }
}

input[readonly] {
    border: none;
}

input:after {
    content: attr(value);
}