* { box-sizing: border-box; }

html, body {padding:0; margin:0;}

iframe {
    width: 100%;
    border: none;
}

input[readonly] {
    border: none;
}

table, th, td { border: 1px solid; }

.text-center {text-align: center;}

.form-fields td:first-child {
    text-align: right;
}

.form-fields {
    button, select {width: 100%}
    td:last-child {
        text-align: left;
    }
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    margin-bottom: 8px;

    a, span {
        background-color: inherit;
        padding: 14px 16px;
        transition: 0.3s;
    }
}